<div class="container">
<h1>Welcome to Saltine News!</h1>
  <h3> (All saltines all the time!) </h3>


  <% @post.each do |post| %>
    <%= "#{post.id} Title: '#{post.title}'" %>
    <%= "By: " + find_username(post.id)%>
  <% end %>

</div>
